{% extends "base.html" %}

{% block content %}
    <h1>Register a new Platform</h1>
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class = "form-group">
            <p>
                {{ form.platform_name.label }}<br>
                {{ form.platform_name(size=32) }}<br>
            </p>
            <p>
                {{ form.platform_desc.label }}<br>
                {{ form.platform_desc(cols=48, rows=10) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </div>
        </form>
    </div>
{% endblock %}