
<div>
    Super Early Mornings Admin: <br>
    <a href="{{ url_for('index') }}">Home</a><br>
    <a href="{{ url_for('register_super_theme')}}">Create Super Theme</a><br>
    <a href="{{ url_for('register_asset')}}">Create Asset</a><br>
    <a href="{{ url_for('register_platform')}}">Create Platform</a><br>
    <a href="{{ url_for('register_transaction')}}">Create Transaction</a><br>
    <a href="{{ url_for('register_tx_type')}}">Create Transaction Type</a><br>
    <a href="{{ url_for('manual_prices')}}">Create Asset Price</a><br>

</div>
